* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

button {
    padding: 0.7rem 2rem;
    font-size: 1rem;
    background-color: #088395;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

button:hover {
    background-color: #0A4D68;
}

select {
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.container,
.parte-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

.parte-3 {
    flex-direction: column;
}

@keyframes shake-horizontal {
    0%,
    100% {
    transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
    transform: translateX(-8px);
    }
    20%,
    40%,
    60% {
    transform: translateX(8px);
    }
    80% {
    transform: translateX(5px);
    }
    90% {
    transform: translateX(-5px);
    }
}
